<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacto</title>
  </head>
  <body>

    <div class="container">
      <h2 class="form-signin-heading">Contactanos</h2>

    <form class="form-signin">
      <label class="email">E-Mail:</label><br>
      <input type="email" id="inputEmail" size="40px" placeholder="Email address" required autofocus><br><br>

      <label>Nombre:</label><br>
      <input type="text" id="inputEmail" size="40px" placeholder="Kevin"><br><br>

      <label>Apellido:</label><br>
      <input type="text" id="inputEmail" size="40px" placeholder="Navarro"><br><br>

      <label>Telefono:</label><br>
      <input type="phone" id="inputEmail" size="40px" placeholder="22224455"><br><br>

      <label>Comentarios:</label><br>
      <textarea name="comentarios" rows="5" cols="42"></textarea>
      <br><br>
    <!--  <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>-->
      <button class="btn btn-lg btn-primary" type="submit">Enviar</button>
    </form>

  </div> <!-- /container <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>-->
  </body>
</html>
